@model Template.Web.Models.Inventory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemList" class="control-label"></label>
                <select id="itemList" asp-for="Itemid" class="form-control">
                    @foreach (var item in Model.ItemList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Itemid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryCreatedDate" class="control-label"></label>
                <input asp-for="InventoryCreatedDate" id="InventoryCreatedDate" class="form-control" />
                <span asp-validation-for="InventoryCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryDueDate" class="control-label"></label>
                <input asp-for="InventoryDueDate" id="InventoryDueDate" class="form-control" />
                <span asp-validation-for="InventoryDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" id="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUnit" class="control-label"></label>
                <input asp-for="TotalUnit" id="txtTotalUnit" class="form-control" />
                <span asp-validation-for="TotalUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label> :
                <span id="TotalPrice">@Model.TotalPrice</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function checkItemAvailability() {
        debugger
        $("#txtTotalUnit").val('45');
        console.log(@Html.Raw(Model.TotalUnit));

    }
    $(document).ready(function () {
        checkItemAvailability();
        //setInterval(checkItemAvailability, 1000);
        $("#TotalUnit").change(function (e) {

        });
        $("#InventoryDueDate").change(function (e) {

        });
        $("#InventoryCreatedDate").change(function (e) {

        });
        $("#itemList").change(function (e) {
            debugger
        });
    });
    
</script>